/* :root {
  background-color: #8890b2 ;
} */

.row {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   max-width: 1500px;
}

.row > div[class*='col-'] {
  display: flex;
}

.container {
   height: fit-content;
   width: 100%;
   flex-direction: row;
   flex-wrap: wrap;
}

.home-section {
   width: 100%;
   height: 500px;
   flex-direction: row;
}

.containers {
  width: 25%;
}

.homepageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
  margin-top: 150px;
  margin-bottom: 150px;
}


.clothe-card {
  padding: 10px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  width: 20%;
}

 .home-section {
    width: 100%;
    height: 500px;
    flex-direction: row;
 }

 .homepageContainer {
   width: 100%;
   height: fit-content;
   margin-top: 150px;
   justify-content: center;
   /* margin-bottom: 150px; */
 }

 .clotheImg {
  border-radius: 50px !important;
 }

 .navbar{
   background-color: #1b1a2ea9;
 }



 .image_overlay {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  color: #fffaff;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 10px;
  /* border: 2px solid; */
  
}

.image_overlay_blur {
  backdrop-filter: blur(5px);
}

.image_overlay > * {
  transform: translateY(40px);
  transition: transform 0.25s;
}

.image_overlay:hover {
  opacity: 1;
}

.image_overlay:hover > * {
  transform: translateY(0);
}


.card {
  border-radius: 10px !important;
  border: 1px solid rgba(198, 191, 191, 0.6)!important;
}

.image_description {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_title {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-3 {
  width: 20% !important;
}

.cardAll {
  /* border-color: black;
  border-style: solid;
  border-radius: 10px;
  border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: white;
  margin: 40px;
}

