*, ::after, ::before{
    box-sizing: content-box !important;
}
.clothing-image {
    display:flex;
    width: 52%;
    margin-top: 120px;
}

.img-style {
    position:relative;
    width:80%;
    height: 90%;
    padding: 20px;
    object-fit: cover;
}

.clothing-info {
    display: flex;
    flex-wrap: wrap;
    width:40%;
    margin-top: 160px;
    margin-left: max(2px);
}

.workhero {
    display: flex;
    width: 100%;
    /* margin: 10px 0px 10px 0px; */
    justify-content: center;
    align-items: top;
    max-width: 1000px;
}

.single-product-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clothing-info h2{
    width: 100%;
}

.buying-info {
    width: 100%;
    margin-bottom: 10px;
    margin-top: -18px;
}

.form-ctrl {
    width: 50%;
    display:flex;
    height:30px;
}

.sizing {
    width: 10% !important;
    margin-right: 10px;
  }


.dropdown-ctrl {
    width: 50%;
}

.cartBtn {
    margin: 10px 10px 0px 0px;
    max-height: 23px;
}

.returnBtn {
    width: 100%;
    height: 20px;
}

.dropdownCenter {
    margin-bottom: 10px;
}

.btn-outline-secondary:hover {
    background-color: red !important;
    
}

.product-price {
    padding-top: -10px;
    padding-bottom: -30px;
    font-size: 20px;
    font-weight: normal;
}

.in-stock, .quantity {
    padding-right: 8px;
    color: grey;
}

.product-name {
    font-weight: bold;
}

.description-text {
    padding-top: -20px;
}

@media screen and (max-width: 600px) {
    .clothing-info {
      display: flex;
      flex-wrap: wrap;
      /* justify-content: center; */
    }
  }
